* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Montserrat',
		sans-serif;
	font-size: 18px;
}

html {
	/* background: linear-gradient(280deg, #5151c6, #5f63d3);
	 */
	background-color: #201838;
}


body {
	width: 100%;
	height: 100%;
	color: #fff;
}

img {
	width: 100%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.header {
	padding: 30px 0;
}

.button-block {
	margin-bottom: 26px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}


.btn {
	padding: 0 32px;
	font-size: 18px;
	line-height: 40px;
	border: none;
	font-weight: 600;
	color: rgb(54, 53, 53);
	border-radius: 100px;
	cursor: pointer;
	color: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.btn:focus {
	outline: none;
}

.register {
	background-color: #ff006c;
	margin-left: 15px;
}

.send-message {
	background-color: #f87556;
}

.register:hover,
.send-message:hover {
	filter: opacity(90%);
}

.register:active,
.send-message:active {
	filter: brightness(75%);
}


.header-inner {
	min-height: 40px;
	line-height: 40px;
}

.menu-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-item {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.menu-item__link {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	transition: all 0.5s;
	line-height: 20px;
}

.social-link:hover,
.menu-item__link:hover {
	color: #f4d550;
}

.social-link::after,
.menu-item__link::after {
	content: '';
	display: block;
	width: 0%;
	height: 3px;
	background-color: #c78030;
	margin-top: 4px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.social-link:hover:after,
.menu-item__link:hover:after {
	width: 90%;
}

.header-content {
	padding: 30px 0;
}

.header-image {
	margin-bottom: 15px;

}

.header-title {
	padding: 30px 0 45px;
	text-align: center;
}

.title {
	font-size: 32px;
}

.header-info_text {
	font-size: 19px;
	line-height: 28px;
}

.header-info {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
}

.header-left {
	flex-basis: 50%;
}

.header-right {
	flex-basis: 48%;
	filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
}

.text,
.header-left_link {
	font-size: 22px;
	line-height: 30px;
	letter-spacing: normal;
	margin-bottom: 10px;
	color: #fff;
}

.header-left_link {
	color: #f87556;
}

.header-right_img {
	border-radius: 15px;

}

.article-title {
	padding: 10px 0;
	text-align: center;
}

.article-link {
	display: inline-block;
	padding: 0 32px;
	font-size: 18px;
	line-height: 40px;
	border: none;
	font-weight: 600;
	color: rgb(54, 53, 53);
	border-radius: 100px;
	cursor: pointer;
	color: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
	background-color: #f87556;
	text-decoration: none;
	margin: 12px 0;
}

.article-content_title {
	margin: 30px 0 10px;
}

.article-img {
	max-height: 600px;
}

.footer {
	padding: 60px 0 20px;
}

.footer-inner {
	text-align: center;
}

.social-links {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.social-item {
	list-style: none;
	margin-right: 30px;
}

.social-item:nth-child(3) {
	margin-right: 0;
}

.footer-tel:hover {
	color: #f4d550;
}

.social-link {
	text-decoration: none;
	color: #fff;
}

.article-star {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.article-left {
	flex-basis: 46%;
}

.article-right {
	flex-basis: 48%;
}

.videos {
	margin: 30px auto;
}

.father-sing {
	text-align: center;
	display: inline-block;
	padding: 20px 50px;
}

.bold {
	font-size: 22px;
}

.my-info {
	display: inline-block;
	padding: 20px 50px;
}

.overlay {
	position: fixed;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 0;
}

.overlay .popup {
	position: fixed;
	z-index: 4;
	left: 50%;
	top: 150px;
	width: 752px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.overlay .popup-close {
	position: absolute;
	right: -20px;
	top: -35px;
	cursor: pointer;
	font-size: 35px;
	color: #fff;
	font-weight: 300;
}

.overlay .popup-title {
	display: block;
	width: 100%;
	height: 71px;
	line-height: 71px;
	margin: 0;
	background-color: #201838;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 500;
	text-align: center;
}

.overlay .popup-form {
	background: url(../img/modal.jpg) center no-repeat;
	background-size: cover;
	padding: 35px 88px 50px 88px;
	color: #fff;
}

.overlay .popup-form-header {
	padding: 0;
	font-weight: 400;
	line-height: 27px;
	font-size: 30px;
	text-align: center;
}

.overlay .popup-form__label {
	display: block;
	margin-top: 23px;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
}

.overlay .popup-form__input {
	width: 100%;
	height: 56px;
	margin-top: 17px;
	font-size: 18px;
	background-color: #201838;
	border: none;
	color: #fff;
	text-align: center;
}

.overlay .popup-form__input::-webkit-input-placeholder {
	color: #fff;
}

.overlay .popup-form__input::-moz-placeholder {
	color: #fff;
}

.overlay .popup-form__input:-moz-placeholder {
	color: #fff;
}

.overlay .popup-form__input:-ms-input-placeholder {
	color: #fff;
}

.overlay .popup-form__input:focus::-webkit-input-placeholder {
	color: transparent;
}

.overlay .popup-form__input:focus::-moz-placeholder {
	color: transparent;
}

.overlay .popup-form__input:focus:-moz-placeholder {
	color: transparent;
}

.overlay .popup-form__input:focus:-ms-input-placeholder {
	color: transparent;
}

.overlay.popup-form__btn {
	width: 180px;
	height: 56px;
	font-size: 15px;
	line-height: 22px;
	margin-left: 16px;
	background-color: transparent;
	color: #fff;
	border: 1px solid #201838;
	cursor: pointer;
}

.overlay .popup-form__btn:hover {
	box-shadow: 0 0 10px #c78030;
}


.overlay {
	position: fixed;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 3;
}

.overlay .popup {
	position: fixed;
	z-index: 4;
	left: 50%;
	top: 150px;
	width: 752px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.overlay .popup-close {
	position: absolute;
	right: -20px;
	top: -35px;
	cursor: pointer;
	font-size: 35px;
	color: #fff;
	font-weight: 300;
}

.overlay .popup-title {
	display: block;
	width: 100%;
	height: 71px;
	line-height: 71px;
	margin: 0;
	background-color: #201838;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 500;
	text-align: center;
}

.overlay .popup-form {
	background: url(../img/modal.jpg) center no-repeat;
	background-size: cover;
	padding: 35px 88px 50px 88px;
	color: #fff;
}

.overlay .popup-form-header {
	padding: 0;
	font-weight: 400;
	line-height: 27px;
	font-size: 30px;
	text-align: center;
}

.overlay .popup-form__label {
	display: block;
	margin-top: 23px;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
}

.overlay .popup-form__input {
	width: 100%;
	height: 56px;
	margin-top: 17px;
	font-size: 18px;
	background-color: #201838;
	border: none;
	color: #fff;
	text-align: center;
}

.overlay .popup-form__input::-webkit-input-placeholder {
	color: #fff;
}

.overlay .popup-form__input::-moz-placeholder {
	color: #fff;
}

.overlay .popup-form__input:-moz-placeholder {
	color: #fff;
}

.overlay .popup-form__input:-ms-input-placeholder {
	color: #fff;
}

.overlay .popup-form__input:focus::-webkit-input-placeholder {
	color: transparent;
}

.overlay .popup-form__input:focus::-moz-placeholder {
	color: transparent;
}

.overlay .popup-form__input:focus:-moz-placeholder {
	color: transparent;
}

.overlay .popup-form__input:focus:-ms-input-placeholder {
	color: transparent;
}

.overlay .popup-form__btn {
	width: 180px;
	height: 56px;
	font-size: 15px;
	line-height: 22px;
	margin-left: 16px;
	background-color: transparent;
	color: #fff;
	border: 1px solid #201838;
	cursor: pointer;
}

.overlay .popup-form__btn:hover {
	box-shadow: 0 0 10px #c78030;
}


/* Макала окно  */







.overlayy {
	position: fixed;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 0;
}

.overlayy .popupp {
	position: fixed;
	z-index: 4;
	left: 50%;
	top: 150px;
	width: 752px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.overlayy .popup-closee {
	position: absolute;
	right: -20px;
	top: -35px;
	cursor: pointer;
	font-size: 35px;
	color: #fff;
	font-weight: 300;
}

.overlayy .popup-titlee {
	display: block;
	width: 100%;
	height: 71px;
	line-height: 71px;
	margin: 0;
	background-color: #201838;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 500;
	text-align: center;
}

.overlayy .popup-formm {
	background: url(../img/modal.jpg) center no-repeat;
	background-size: cover;
	padding: 35px 88px 50px 88px;
	color: #fff;
}

.overlayy .popup-form-headerr {
	padding: 0;
	font-weight: 400;
	line-height: 27px;
	font-size: 30px;
	text-align: center;
}

.overlayy .popup-form__labell {
	display: block;
	margin-top: 23px;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
}

.overlayy .popup-form__inputt {
	width: 100%;
	height: 56px;
	margin-top: 17px;
	font-size: 18px;
	background-color: #201838;
	border: none;
	color: #fff;
	padding-left: 10px;
}

.overlayy .popup-form__inputt::-webkit-input-placeholder {
	color: #fff;
}

.overlayy .popup-form__inputt::-moz-placeholder {
	color: #fff;
}

.overlayy .popup-form__inputt:-moz-placeholder {
	color: #fff;
}

.overlayy .popup-form__inputt:-ms-input-placeholder {
	color: #fff;
}

.overlayy .popup-form__inputt:focus::-webkit-input-placeholder {
	color: transparent;
}

.overlayy .popup-form__inputt:focus::-moz-placeholder {
	color: transparent;
}

.overlayy .popup-form__inputt:focus:-moz-placeholder {
	color: transparent;
}

.overlayy .popup-form__inputt:focus:-ms-input-placeholder {
	color: transparent;
}

.overlayy .popup-form__btnn {
	width: 180px;
	height: 56px;
	font-size: 15px;
	line-height: 22px;
	/* margin-left: 16px; */
	background-color: transparent;
	color: #fff;
	border: 1px solid #201838;
	cursor: pointer;
}

.overlayy .popup-form__btnn:hover {
	box-shadow: 0 0 10px #c78030;
}

.popup-form__text {
	margin-top: 10px;
	width: 100%;
	height: 200px;
	padding: 10px;
	font-size: 18px;
	background-color: #201838;
	border: none;
	color: #fff;
	text-align: left;
	margin-bottom: 10px;
	resize: none;
}

.overlayy .popup-form__text::placeholder {
	color: #fff;
}

iframe {
	width: 931px;
	max-width: 98%;
	margin: 0 auto;
}

@media (max-width: 1300px) {
	.container {
		width: calc(100% - 20px);
	}
}

@media(max-width: 900px) {
	.header-left {
		order: 1;
		flex-basis: 100%;
	}

	.header-right {
		order: 0;
		flex-basis: 100%;
		margin-bottom: 20px;
	}

	.article-left {
		flex-basis: 100%;
	}

	.article-right {
		flex-basis: 100%;
	}

	.btn {
		font-size: calc(100% - 2px);
	}

	.menu-item__link {
		font-size: calc(100% - 3px);
	}

	.title {
		font-size: calc(100% - 4px);
	}

	.text {
		font-size: calc(100% - 5px);
	}

	.father-sing {
		font-size: calc(100% - 1px);
	}

	.overlay,
	.overlayy {
		width: calc(100% - 1px);
		height: calc(100% - 1px);
	}

	.overlayy .popupp,
	.overlay .popup {
		top: 44px;
		width: calc(100% - 147px);
	}

	.overlayy .popup-titlee,
	.overlay .popup-title,
	.overlay .popup-form-header,
	.overlayy .popup-form-headerr {
		font-size: calc(100% - 1px);
	}

	.overlay .popup-form__input {
		margin-left: 0;
		margin-top: 15px;
	}

	.overlayy .popup-closee,
	.overlay .popup-close {
		right: 0px;
	}

}

@media(max-width: 700px) {

	.overlayy .popup-formm,
	.overlay .popup-form {
		padding: 34px 17px 50px 17px;
	}
}

@media(max-width: 440px) {
	.button-block {
		justify-content: center;
	}

	.btn {
		margin-bottom: 10px;
	}

	.overlay,
	.overlayy {
		width: calc(100% - 2px);
		height: calc(100% - 5px);
	}

	.overlayy .popupp,
	.overlay .popup {
		width: calc(100% - 20px);
	}

	.overlayy .popup-formm,
	.overlay .popup-form {
		padding: 34px 17px 50px 17px;

		/* padding-left: calc(100% - 290px); */
		/* padding-right: calc(100% - 290px); */
	}

	.overlayy .popup-titlee,
	.overlay .popup-title {
		font-size: calc(100% - 1px);
	}

	.overlayy .popup-form-headerr,
	.overlay .popup-form-header {
		text-align: left;
		font-size: calc(100% - 1px);
	}
}